$Main-font:'Josefin Sans','Roboto','EB+Garamond', sans-serif;


$Primary-color: #a5f1e9;
$Primary-color--2: #7fbcd2;
$color-off-white: #eeee;
$color--black:#1b2430;

.btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $Main-font;
    height: 1.5rem;
    width: 2rem;
    padding: .8rem 1.5rem;
    background-color: $Primary-color--2;
    color: $color-off-white;
   
    
   
    

    &--main{
        height: 2.4rem;
        width: 50%;
        font-size: 1.1rem;
        border: none;
        border-radius: 6px;
        margin-right: 5px;

        &:hover{
            background-color: $Primary-color;
            color: #f9f9f9;
        }
     }
}

// .main{
//     height: 2.4rem;
//     width: 50%;
//     font-size: 1.1rem;
//     border: none;
//     border-radius: 6px;
//     margin-right: 5px;}
